.rootShoot-appbar {
    min-height: var(--appbar-height);
    background: var(--accent-color);
    z-index: 1000;
}

.rootShoot-appbar-menu,
.rootShoot-appbar .appbar-btns {
    flex-basis: content;
    margin-left: initial;
}
.rootShoot-search {
    outline: none;
    background: var(--secondary-bg-color)
        url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png)
        no-repeat 1rem center;
    border: none;
    border-radius: 5px;
    transition: var(--transition);
    width: 3.13rem;
    height: 3.13rem;
    flex-basis: 3.13rem;
    padding-left: 3.13rem;
    color: transparent;
    cursor: pointer;
    margin: 0 auto;
}

.rootShoot-search:hover {
    background-color: #ffffff;
}
.rootShoot-search:focus {
    flex-basis: 100%;
    color: var(--primary-text-color);
    background-color: #ffffff;
    border-color: var(--primary-bg-color);
    box-shadow: 0 0 5px var(--primary-bg-color);
    cursor: auto;
}

.rootShoot-search::-webkit-search-cancel-button,
.rootShoot-search::-webkit-search-results-button,
.rootShoot-search::-webkit-search-results-decoration,
.rootShoot-search::-webkit-search-decoration {
    display: none;
}

.drawer {
    transform: translate(-100%);
    position: absolute;
    inset: var(--appbar-height) 0 0;
    background: var(--accent-color);
    width: 100vw;
    height: calc(100vh - var(--appbar-height));
    transition: var(--transition);
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-transform: capitalize;
}

.drawer-open {
    transform: translate(0%);
}

.drawer > ul {
    gap: unset;
}

.drawer a {
    color: var(--secondary-bg-color);
    padding: 0.5rem;
}

@media (min-width: 600px) {
    .rootShoot-appbar {
        position: absolute;
    }

    .rootShoot-search {
        cursor: auto;
        height: 2.5rem;
        flex-basis: 35%;
    }

    .rootShoot-search:focus {
        flex-basis: 40%;
    }

    .rootShoot-appbar-menu {
        display: none;
    }

    .drawer {
        transform: translate(0%);
        position: static;
        width: auto;
        height: var(--appbar-height);
        margin-left: 1rem;
    }

    .drawer > ul {
        flex-direction: row;
    }
}
