footer {
    background-color: var(--primary-color);
    color: var(--secondary-bg-color);
    padding: 2rem;
    padding-bottom: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: unset;
}

footer > div > a:first-child {
    margin: 0 auto;
    width: 5rem;
}

.footer-text {
    justify-content: space-around;
    flex-grow: 1;
    max-width: 35rem;
}

.media-links {
    align-self: center;
}

.media-links > * > * {
    font-size: 1.5rem;
    color: var(--primary-text-color);
}

@media (min-width: 600px) {
    footer {
        padding-inline: 4rem;
    }
    .sub-footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    footer > div > a:first-child {
        margin: unset;
    }
}
