footer {
    background-color: var(--primary-color);
    display: flex;
    color: var(--secondary-bg-color);
    padding: 1rem;
    flex-direction: column;
    align-items: center;
}

.media-links > * > * {
    font-size: 1.5rem;
    color: var(--primary-text-color);
}

.statement {
    display: flex;
    align-items: center;
}

.statement > *:first-child {
    width: 3.5rem;
    height: 3.5rem;
    transition: var(--transition);
    margin-inline: 0.3rem;
}

.statement > *:first-child:hover {
    transform: translateY(-10px);
    transition: var(--transition);
}

.media-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    justify-content: space-evenly;
    padding: 1rem;
}

@media (min-width: 600px) {
    .media-links {
        width: 40rem;
    }
}
