.single-product {
    padding: 2rem;
}

.single-product > *:nth-child(2) > *:nth-child(3) {
    display: flex;
    margin: 0.5rem 0;
    justify-content: space-between;
    align-items: center;
}

.single-product > *:first-child {
    border-radius: 5px;
}

@media (min-width: 600px) {
    .single-product {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .single-product > * {
        margin: 3rem;
        object-fit: contain;
        width: auto;
    }

    .single-product > *:first-child {
        height: calc(100vh - 10rem);
    }

    .single-product > *:last-child {
        max-width: 500px;
    }
}
